body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #8e7a3d;
}

.box-top {
    margin: 20px;
}

.box-header {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;

}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.box-right {
    margin: 0 5px;
    width: 40%;
}

.box-titre {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 10px 0;
    font-size: 36px;

    text-align: left;
    color: #ffffff;
}

.box-soustitre p {
    margin: 0 10px;
    font-weight: 600;
    font-fami
}

.img-hero {
    height: 50vh;
    width: 50vh;
  
    /* image de background */
    background-image: url("img/bg-1.png");

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

.box-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 10px;
}

.button {
      background: #a8293c;
      padding: 5px 20px 10px 20px;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 800;
}

.button a {
    color: #ffffff;
    text-decoration: none;
}

.button a:hover {
    color: #dddddd;
    text-decoration: none;
}

footer {
    margin: 20px;
}

.copyright {
    font-size: 14px;
}